---
import Featers from "../components/Featers.astro"
import Header from "../components/Header"
import Hero from "../components/Hero"
import Stats from "../components/Stats.astro"
import Layout from "../layout/Layout.astro"
---
<Layout >
  <Header client:load/>
    <Hero client:load/>
    <Stats/>
    <Featers/>
  </div>

</Layout>
